@page "/PublicGroupMessages/{GroupId}"
@using SignalRBlazorChatApp.Components
@implements IDisposable

<MudText Typo="Typo.h4" Align="Align.Center">Group @ChatGroupName Messages</MudText>

@if (_listMessagesDto == null)
{
	<LoadingIndicator />
}
else
{
	<MudCard Class="chat-board" Style="background-color: rgb(43, 45, 48)">
		<MudCardHeader Style="border: solid white;">
			<CardHeaderContent>
				<MudText Align="Align.Center">Test</MudText>
			</CardHeaderContent>
		</MudCardHeader>
		<MudCardContent Class="chat-container">
			@foreach (var message in _listMessagesDto)
			{
				<PublicMessage Message="message" UserId="@userId" />
			}
		</MudCardContent>
		<MudCardContent Class="message-form">
			<MudText Align="Align.Center" Style="height:0.3em;"><strong>New Message</strong></MudText>
			<MudForm>
				<MudTextField T="string" @bind-Value="NewText" Label="New message..." Required="true" RequiredError="Text is required." />
				<MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="(() => PostNewMessage(userId, GroupId, NewText))">Submit</MudButton>
			</MudForm>
		</MudCardContent>
	</MudCard>

	<div>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => TestSignalREdit())">TestSignalR Edit</MudButton>
	</div>
	<div>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => TestSignalRDelete())">TestSignalR Delete</MudButton>
	</div>
	<div>
		<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => SendGroupMessage())">Send Group Message</MudButton>
	</div>
}
