@page "/PublicGroupMessages/{GroupId}/{ChatGroupName}"
@using SignalRBlazorChatApp.Components
@implements IDisposable

<MudText Typo="Typo.h4" Align="Align.Center">Group @ChatGroupName Messages</MudText>

@if (_listMessagesDto == null)
{
	<LoadingIndicator />
}
else
{
	<MudCard Class="chat-board" Style="background-color: rgb(43, 45, 48);">
		<MudCardHeader Style="border: solid white;background: rgb(206, 206, 206);">
			<CardHeaderContent>
				<MudText Align="Align.Center">
					<MudButton Variant="Variant.Outlined" Color="Color.Info" OnClick="() => LoadAdditionalData()">Load Previous Messages</MudButton>
				</MudText>
			</CardHeaderContent>
		</MudCardHeader>
		<MudCardContent Class="chat-container" id="chatanchor">
			@foreach (var message in _listMessagesDto)
			{
				<PublicMessage Message="message" UserId="@userId" UpdateMessage="() => ShowEditForm(message)" DeleteMessage="() => DeleteConfirm(message)"/>
			}
		</MudCardContent>
		<MudCardContent Class="message-form">
			<MudText Align="Align.Center" Style="height:0.3em;"><strong>New Message</strong></MudText>
			<MudForm>
				<MudTextField T="string" @bind-Value="NewText" Label="New message..." Required="true" RequiredError="Text is required." MaxLength="5000" />
				<MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="(() => PostNewMessage(userId, GroupId, NewText))">Submit</MudButton>
			</MudForm>
		</MudCardContent>
	</MudCard>

	@if (ShowEditPopup)
	{
		<EditForm Model="@editDto" OnValidSubmit="EditMessage" class="modal" style="display:block;">
			<div class="modal-dialog" style="vertical-align:central;">
			<MudCard Class="modal-content">
				<MudText Align="Align.Center"><b>Edit Message</b></MudText>
				<MudCardContent>
					<MudTextField T="DateTime" Label="Message Date" @bind-Value="editDto.MessageDateTime" ReadOnly="true" Variant="Variant.Outlined" />
					<MudTextField T="string" Label="Text" @bind-Text="editDto.Text" MaxLength="5000" Lines="5" Variant="Variant.Outlined" />
				</MudCardContent>
				<MudCardActions>
					<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info">Submit</MudButton>
					<MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="CancelEdit" Style="margin-left:auto;">Cancel</MudButton>
				</MudCardActions>
			</MudCard>
			</div>
		</EditForm>
	}
}
